body {
    height: 100%;
    width: 80vw;
    margin: 0 10vw;
}

.header {
    padding: 10px 16px;
    text-align: center;
    border: 2px solid black;
}

.bod {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
}

.posts {
    display: flex;
    flex-direction: column;
    height: 525px;
    width: fit-content;
    margin: 10px 20px;
    border: 2px solid black;
    margin-right: 250px;
}

.post {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: fit-content;
    margin: 10px 20px;
    border: 2px solid black;
}

iframe {
  width: 400px;
  height: 300px;
}

a {
  padding: 10px;
}

p {
  max-width: 600px;
}

.end-msg {
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
}

.end-msg p {
    max-width: none;
}
