---
layout: layouts/base.njk
---

{% set homecss %} {% include "styles/home.css" %} {% endset %}
<style>
	{{ homecss | cssmin | safe }}
</style>

<section>
	<h1>Axel Stahl's Personal Blog Site</h1>
	<div id="content">
		<p>
            I am a programmer, a student, a pianist, a co-leader of StuyLinux, a Linux User,
            an Open Source advocate, a dog lover, a book lover, a music lover, and probably more.
		</p>
	</div>
	<div id="social_media_links">
		<p>
			Check out my <a href="/posts">blog</a>!
		</p>
        <p>
            See <a href="https://github.com/axelKeizoStahl">my github</a>
        </p>
	</div>
    <div id="blog_preview">
        <h2 id="blog_preview_title">Daily Updates</h2>
        <br>
        {% set postlist = collections.daily | reverse %} {% include "components/postlist.njk" %}
    </div>
    <div id="blog_preview">
        <h2 id="blog_preview_title">Recent Blog Posts</h2>
        <br>
        {% set postlist = collections.posts | reverse %} {% set postlist = postlist.slice(0,2) %} {% include "components/postlist.njk" %}
    </div>
</section>
