{% set navbarcss %} {% include "styles/navbar.css" %} {% endset %}
<style>
	{{ navbarcss | cssmin | safe }}
</style>

<nav id="nav">
    <a class="nav_link" href="/Axel-Blog/posts">
        /posts
    </a>
    <a class="nav_link" href="/Axel-Blog">
        /
    </a>
    <a class="nav_link" href="/Axel-Blog/about">
        /about
    </a>
</nav>
